<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="cstyle.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
      />
    </head>

    <body class="body">
      <div class="login-page">
        <div class="form">
          <h1>Feedback</h1>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <h2>Add Feedback</h2>
          <form>
            <textarea id="feedback" name="feedback" rows="10" cols="95">
Enter complaint / feedback here
            </textarea>
            <button
              type="button"
              onclick="window.location.href='customer.html'"
            >
              Submit
            </button>
            <p class="message"></p>
          </form>

          <form class="login-form">
            <button type="button" onclick="window.location.href='index.html'">
              Logout
            </button>
          </form>
        </div>
      </div>
    </body>
  </html>
</html>
